.container{
  margin: 2rem;
}

.botao{
  display: flex;
  align-items: center;
  border: none;
  width: fit-content;
  padding: 1rem;
  height: 2rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background-color: #2dbced;
  border-radius: 10px;
  cursor: pointer;
}

.botao:hover{
  background-color: #289ac0;
}

.campo_adicionar{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: fit-content;
}

.campo_adicionar input{
  margin: 1rem;
  width: 30rem;
  overflow-wrap: anywhere;
  min-height: 2rem;  
}

.campo_adicionar button{
  align-self: center ;
}

.campo_adicionar p{
  font-weight: 700;
}

.card_noticias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card_noticias li{
  list-style: none;
  margin: 1rem;
}

.card{
  background-color: #fff;
  border-radius: 10px;
  width: 17rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 6px 5px 3px 1px #000000;
}

.card_titulo{
  font-weight: bold;
}

.card_conteudo p{
  display: flex;
  flex-wrap: wrap;  
  max-width: 17rem;
  overflow-wrap: anywhere;
}

.botao_do_card{
  margin: 0.5rem;
  padding: 00.5rem;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background-color: #2dbced;
  border-radius: 10px;
  cursor: pointer;
}

.botao_do_card:hover{
  background-color: #289ac0;
}